{% extends 'base.html' %}
{% block titulo %}Perfil{% endblock %}
{% block content %}

<div class="profile-header">
    <div class="profile-img">
        <img src="{{ url_for('static', filename='images/profile.jpeg') }}" alt="Foto de perfil" class="profile-img"><br>
        <a href="{{ url_for('edit_user') }}">Editar informações</a>
    </div>
    
    <div class="profile-info">
        <h1>Olá, {{ user }}</h1>
        <p class="user-info">{{ email }}</p>
        <p class="user-info">{{ bio }}</p> 
    </div>
</div>

{% endblock %}